<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1029067177374-80dhunjskkh9kdbf2dpv7htmle7d9bu8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1029067177374-80dhunjskkh9kdbf2dpv7htmle7d9bu8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1029067177374-am8qiead8q6ls8t3euejrt3qo0928t97.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDnZCxgT6TV5zmX17NypQbPwDZ_ebjfxrY</string>
	<key>GCM_SENDER_ID</key>
	<string>1029067177374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.sweepify</string>
	<key>PROJECT_ID</key>
	<string>sweepify-30157</string>
	<key>STORAGE_BUCKET</key>
	<string>sweepify-30157.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1029067177374:ios:714e2c07667cc80cd22a8f</string>
	<key>DATABASE_URL</key>
	<string>https://sweepify-30157-default-rtdb.firebaseio.com</string>
</dict>
</plist>